.customSection {
    background-color: #fff;
    text-align: left;
    padding: 2rem;
}

.noFlexWrap {
    flex-wrap: nowrap;
}

.btnLinkStyle {
    text-decoration: none;
    top: -1px;
    position: relative;
}

.productItemName {
    max-width: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}