.fitContentHeight {
    height: fit-content;
}

.w30 {
    width: 30%;
}

.ratingBadge {
    border: 1px solid;
    border-radius: 10px;
    background-color: rgb(28, 116, 28);
    color: #fff;
    font-weight: bold;
    font-size: small;
}

.restaurantStatusActive {
    filter: grayscale(0);
}

.restaurantStatusActive:hover,
.restaurantStatusInactive:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.restaurantStatusInactive {
    filter: grayscale(1);
}