.App {
  text-align: center;
}

.header-body {
  min-height: 50rem;
}

footer {
  background-color: rgb(2, 6, 12);
}

footer span,
footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

footer h5 {
  color: #fff;
}

.noBorderRadius {
  border-radius: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.noTopRightBorder {
  border-top-right-radius: 0 !important;
}

.noBottomRightBorder {
  border-bottom-right-radius: 0 !important;
}

.noTopLeftBorder {
  border-top-left-radius: 0 !important;
}

.noBottomLeftBorder {
  border-bottom-left-radius: 0 !important;
}

.cardWithoutBorder {
  border: 0 !important;
}

.noBorder {
  border: 0 !important;
}