.App {
  text-align: center;
}

.header-body {
  min-height: 50rem;
}

footer {
  background-color: rgb(2, 6, 12);
}

footer span,
footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

footer h5 {
  color: #fff;
}

.noBorderRadius {
  border-radius: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.card {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.card:hover {
  transform: scale(1.05);
}